<div class="group cursor-pointer" (click)="onCardClick()">

    <div class="image-container">
        <img [src]="currentImage" (error)="handleImageError()" [alt]="name" class="product-img">
        @if (salePercentage) {
        <div class="sale-badge">SALE</div>
        }
    </div>

    <div class="info-container">
        <h3 class="product-name">{{ name }}</h3>
        <div class="price-row">
            @if (originalPrice) {
            <span class="price-original">{{ originalPrice | currency:'USD':'symbol':'1.0-0' }}</span>
            }
            <span class="price-current">{{ price | currency:'USD':'symbol':'1.0-0' }}</span>
        </div>
        <p class="installments">{{ installments }} cuotas sin interés</p>
        <button class="buy-btn" (click)="onAddToCartClick($event)">COMPRAR</button>
    </div>

</div>