:root {
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --tracking-wider: 0.05em;
    --tracking-widest: 0.1em;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: black;
}

@media (min-width: 640px) {

    html,
    body {
        font-size: 16px;
    }
}