<section class="grid-section">
    <div class="section-title">
        <h2>ÚLTIMOS LANZAMIENTOS</h2>
    </div>
    <div class="grid-wrapper">

        <div class="product-grid">
            @for (product of firstRowProducts; track product.id) {
            <app-minimal-product-card [id]="product.id" [name]="product.name" [price]="product.price"
                [originalPrice]="product.originalPrice" [image]="product.mainImage" [salePercentage]="product.discount"
                (addToCart)="onCardClick($event)" (cardClick)="onCardClick($event)"></app-minimal-product-card>
            }
        </div>

        @if (banners?.banner1) {
        <div class="banner-container"><img [src]="banners.banner1" alt="Banner Principal" class="banner-img" /></div>
        }

        <div class="product-grid">
            @for (product of secondRowProducts; track product.id) {
            <app-minimal-product-card [id]="product.id" [name]="product.name" [price]="product.price"
                [originalPrice]="product.originalPrice" [image]="product.mainImage" [salePercentage]="product.discount"
                (addToCart)="onCardClick($event)" (cardClick)="onCardClick($event)"></app-minimal-product-card>
            }
        </div>

        @if (banners?.banner2) {
        <div class="banner-container"><img [src]="banners.banner2" alt="Banner Secundario" class="banner-img" /></div>
        }

        @if (remainingProducts.length > 0) {
        <div class="product-grid">
            @for (product of remainingProducts; track product.id) {
            <app-minimal-product-card [id]="product.id" [name]="product.name" [price]="product.price"
                [originalPrice]="product.originalPrice" [image]="product.mainImage" [salePercentage]="product.discount"
                (addToCart)="onCardClick($event)" (cardClick)="onCardClick($event)"></app-minimal-product-card>
            }
        </div>
        }
    </div>
</section>